@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0px;
    padding: 0 px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(255, 110, 0);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: green;
}

h1 {
    color: green;
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

th {
    padding-right: 10px;
}

td {
    padding-right: 10px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

main {
    padding: 16px;
}

img {
    height: 200px;
}

.perspective {
    perspective: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}

.box1:hover {
    transition: transform 1s ease;
    transform: rotateY(-60deg);
  }

.box2:hover {
    transition: transform 1s ease;
    transform: rotateY(-60deg);
}

.box3:hover {
    transition: transform 1s ease;
    transform: rotateY(-60deg);
}

.box4:hover {
    transition: transform 1s ease;
    transform: rotateY(-60deg);
}

.box5:hover {
    transition: transform 1s ease;
    transform: rotateY(-60deg);
}

tr:nth-child(even) {
    background-color: rgb(229, 225, 225)
}

.linkfont {
    color: green;
}



footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    bottom: 0;
    background-color: rgb(124, 192, 23)
}
